<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-7">
      <div class="table-secondary" style="width:30% ;text-align:center; margin:5% 0 30px 10%;" >会員情報編集</div>
      <%= form_with model: @customer, url: "/customers", local:true do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th scope="row">氏名</th>
              <td><%= f.text_field :last_name, class:"mb-1" %></td><td><%= f.text_field :first_name, class:"mb-1" %></td>
          </tr>
          <tr>
            <th scope="row">フリガナ</th>
              <td><%= f.text_field :last_name_kana, class:"mb-1" %></td><td><%= f.text_field :first_name_kana, class:"mb-1" %></td>
          </tr>
          <tr>
            <th scope="row">郵便番号</th>
              <td><%= f.text_field :postal_code, class:"mb-1" %></td>
          </tr>
          <tr>
            <th scope="row">住所</th>
              <td><%= f.text_field :address, class:"mb-1" %></td>
          </tr>
          <tr>
            <th scope="row">電話番号</th>
              <td><%= f.text_field :telephone_number, class:"mb-1" %></td>
          </tr>
          <tr>
            <th scope="row">メールアドレス</th>
              <td><%= f.text_field :email, class:"mb-1" %></td>
          </tr>
          <tr>
            <th></th>
            <td><%= f.submit "　　　編集内容を保存　　　", class:"btn btn-sm btn-success" %></td>
            <td ><%= link_to "　退会する　",'/customers/unsubscribe', class:"btn btn-sm btn-danger" %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>