<div class="container px-5 px-sm-0 m-5">
  <div class="row">
    <div class="col-md-7">
      <div class="table-secondary"style="width:30% ;text-align:center; margin:0 0 30px 30%;" >マイページ</div>
      <div style="margin:0 0 20px 0;"><b>登録情報</b>　　<%= link_to "　編集する　", edit_customers_path, class:"btn btn-sm btn-success" %></div>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td colspan="3"scope="row" class="table-secondary">氏名</td>
            <td><%= @customer.last_name %><%= @customer.first_name %></td>
          </tr>
          <tr>
            <td colspan="3" scope="row" class="table-secondary">カナ</td>
            <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
          </tr>
          <tr>
            <td colspan="3" scope="row" class="table-secondary">郵便番号</td>
            <td><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <td colspan="3" scope="row" class="table-secondary">住所</td>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <td colspan="3" scope="row" class="table-secondary">電話番号</td>
            <td><%= @customer.telephone_number %></td>
          </tr>
          <tr>
            <td colspan="3" scope="row" class="table-secondary">メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th class="col-3">配送先</th><td><%= link_to "　一覧を見る　",'/shipping_address', class:"btn btn-sm btn-primary" %></td>
          </tr>
          <tr>
            <th class="col-3">注文履歴</th><td><%= link_to "　一覧を見る　",'/orders', class:"btn btn-sm btn-primary" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>