<div class="ml-5">
<h2>登録情報編集</h2>
<%= render 'layouts/error', errorinstance: @customer %>
<%= form_with model:[:admin,@customer], local:true do |f| %>
 <table>
    <thead></thead>
    <tbody>
      <tr>
        <div class="field">
         <td><%= f.label :"名前" %>　　　　　　　　　　<%= f.label :"(姓)" %> </td>
         <td><%= f.text_field :first_name, autofocus: true %>　　　<%= f.label :"(名)" %> </td>
         <td><%= f.text_field :last_name, autofocus: true %></td>
        </div>
      </tr>

      <tr>
        <div class="field">
          <td><%= f.label :"フリガナ" %>　　　　　　　<%= f.label :"(セイ)" %></td>
          <td><%= f.text_field :first_kana, autofocus: true %>　　<%= f.label :"(メイ)" %></td>
          <td><%= f.text_field :last_kana, autofocus: true %></td>
        </div>
      </tr>

      <tr>
        <div class="field">
          <td><%= f.label :"メールアドレス" %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </div>
      </tr>

      <tr>
        <div class="field">
        <td><%= f.label :"郵便番号(ハイフンなし)" %></td>
        <td><%= f.text_field :post_code, autofocus: true %></td>
        </div>
      </tr>

      <tr>
        <div class="field">
         <td> <%= f.label :"住所" %></td>
         <td> <%= f.text_field :address, autofocus: true %></td>
        </div>
      </tr>

      <tr>
        <div class="field">
         <td><%= f.label :"電話番号(ハイフンなし)" %></td>
         <td><%= f.text_field :phone, autofocus: true %></td>
        </div>
      </tr>

      <tr>
        <td><%#= f.label :会員ステータス %></td>
        <td>
          <%#= f.radio_button "is_valid","有効"%>
          <%#= f.label "is_valid", "有効" %>
          <%#= f.radio_button "is_valid","退会" %>
          <%#= f.label "is_valid", "退会" %>
        </td>
      </tr>

      <tr>
        <td></td>
        <div class="actions">
          <td> <%= f.submit "更新",class: 'btn btn-success btn-block' %></td>
        </div>
      </tr>

    </tbody>
  </table>
  <% end %>
</div>
