<div class="ml-5">
<h2 class="mb-5">ジャンル一覧・追加</h2>
<%= render 'layouts/error', errorinstance: @genre %>
<div class="form-group">
  <!--%= form_with model:@genre, url:"admins_genres_path", local:true do |f| %>-->
  <%= form_with model:[:admins, @genre], local:true do |f| %>
  <p>ジャンル名　　<%= f.text_field :name, placeholder: "ジャンル名" %>　　<%= f.submit "新規登録", class: "btn btn-success" %></p>
  <% end %>

</div>


<table class='table w-50 mt-5 table-hover'>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @genres.each do |genre| %>
    <tr>
      <td><%= genre.name %></td>
      <td>
        <%= link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-success" %>
      </td>
    </tr>
    <% end %>
  </tbody>


</table>

</div>

