<!--test-->


<!--間？-->

<!-- 本文ここから -->
<!-- 左寄せ？　コンテイナー？で調整っぽい？ -->
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-7">

      <tbody>


        <!--間?-->
        <table class="table table-borderless">
          <tbody>
            <tr>
            <!-- 左寄せ　左からはちょいインデント入ってる -->
              <th colspan="3" class="table-secondary">会員情報編集</th>
            </tr>
              <!--間-->

              <!-- current_customerのデータ表示 登録されているのを表示する
              下記の並び-->
            <%= form_with model: @customer, url: "/customers", local:true do |f| %>

            <tr>
              <th scope="row">氏名</th>
                <td><%= f.text_field :last_name, class:"mb-1" %></td><td><%= f.text_field :first_name, class:"mb-1" %></td>
            </tr>

            <tr>
              <th scope="row">フリガナ</th>
                <td><%= f.text_field :last_name_kana, class:"mb-1" %></td><td><%= f.text_field :first_name_kana, class:"mb-1" %></td>
            </tr>

            <tr>
              <th scope="row">郵便番号</th>
                <td><%= f.text_field :postal_code, class:"mb-1" %></td>
            </tr>

            <tr>
              <th scope="row">住所</th>
                <td><%= f.text_field :address, class:"mb-1" %></td>
            </tr>

            <tr>
              <th scope="row">電話番号</th>
                <td><%= f.text_field :telephone_number, class:"mb-1" %></td>
            </tr>

            <tr>
              <th scope="row">メールアドレス</th>
                <td><%= f.text_field :email, class:"mb-1" %></td>
            </tr>

            <tr>
              <th></th>
              <!-- 更新する→マイページに飛ぶ　緑ボタンに白文字 -->
              <td><%= f.submit "編集内容を保存", class:"btn btn-sm btn-success" %></td>
              <!--間-->
              <!-- 赤ボタンに白文字 -->
              <td><%= link_to "退会する",'/customers/unsubscribe', class:"btn btn-sm btn-danger" %></td>
                <!-- 編集内容を保存へと退会へのlink_to
                、エンドユーザ側のページ -->
            </tr>
            <% end %>
          </tbody>

        </table>
        <!-- 表ここまで -->

    </tbody>

    </div>
  </div>
</div>